<html>
<body>


<pre>
{{txt_text_message.id}}
{{btnTest.id}}
</pre>

teststate template
<br/>
message = {{state.txtTextMessage}}
<br/>
{{^state_key.id}}
No key supplied!
{{/state_key.id}}
{{#state_key.id}}
key = {{state_key.id}}
{{/state_key.id}}


<pre>
{{state_json}}
{{state_key_json}}
</pre>

{{#modified}}Record has been modified{{/modified}}

<form method="post">
{{#btnTest}} {{> html_submit}} {{/btnTest}}
{{#ddMyDropdown}} {{>html_select}} {{/ddMyDropdown}}
{{#dd_testing}} {{>html_select}} {{/dd_testing}}
{{#cbTestCheck}} {{> html_checkbox }} {{/cbTestCheck}}
{{#txt_text_message}} {{> html_text }} {{/txt_text_message}}
<input type="hidden" name="initial_state" value="{{initial_state_json}}">
<input type="submit" name="submit_lt" value="<">
<input type="submit" name="submit_eq" value="=">
<input type="submit" name="submit_gt" value=">">
</form>

</body>
</html>

